[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
featureio = {editable = true, path = "."}

[dev-packages]
click = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
